
@{
    ViewBag.Title = "Reset Pawword";
    Layout = "~/Views/_LayoutPage1.cshtml";
}
<link href="~/Content/Styles/styleForgotPawword.css" rel="stylesheet" />
<link href="~/Content/Styles/fontForgotPawword-awesome.min.css" rel="stylesheet" />
<div class="book">
    <div class="w3l_main_grid1_w3ls_grid agileinfo_account_reset">
        <h3>Reset Password</h3>
        <div class="w3_agile_main_left_grid_w3_agileits">

            <form action=@Url.Action("ResetPassword","Account") method="post">
                <div class="agileits_w3layouts_user">
                    <i class="fa fa-key" aria-hidden="true"></i>
                    <input type="password" name="Password" placeholder="New Password" required="">
                </div>
                @*<div class="agileits_w3layouts_user">
                    <i class="fa fa-key" aria-hidden="true"></i>
                    <input type="password" name="Password" placeholder="Confirm Password" required="">
                </div>*@
                @*<p class="asd">
                    <a href="#">Great passwords</a> use upper and lower case
                    characters, numbers and symbols like
                </p>*@
                <input type="reset" value="Reset Password">
                @*<input type="submit" value="Send">*@
                <h5>Already a member? <a href="~/Views/Account/Login.cshtml">Sign In</a></h5>
            </form>
        </div>
    </div>
</div>

<script src="js/jquery.min.js"></script>
<script>
    /*
      Switch actions
    */
    $('.unmask').on('click', function () {

        if ($(this).prev('input').attr('type') == 'password')
            changeType($(this).prev('input'), 'text');

        else
            changeType($(this).prev('input'), 'password');

        return false;
    });


    /*
      function from : https://gist.github.com/3559343
      Thank you bminer!
    */

    function changeType(x, type) {
        if (x.prop('type') == type)
            return x; //That was easy.
        try {
            return x.prop('type', type); //Stupid IE security will not allow this
        } catch (e) {
            //Try re-creating the element (yep... this sucks)
            //jQuery has no html() method for the element, so we have to put into a div first
            var html = $("<div>").append(x.clone()).html();
            var regex = /type=(\")?([^\"\s]+)(\")?/; //matches type=text or type="text"
            //If no match, we add the type attribute to the end; otherwise, we replace
            var tmp = $(html.match(regex) == null ?
                html.replace(">", ' type="' + type + '">') :
                html.replace(regex, 'type="' + type + '"'));
            //Copy data from old element
            tmp.data('type', x.data('type'));
            var events = x.data('events');
            var cb = function (events) {
                return function () {
                    //Bind all prior events
                    for (i in events) {
                        var y = events[i];
                        for (j in y)
                            tmp.bind(i, y[j].handler);
                    }
                }
            }(events);
            x.replaceWith(tmp);
            setTimeout(cb, 10); //Wait a bit to call function
            return tmp;
        }
    }
</script>
