
@{
    ViewBag.Title = "Admin";
    Layout = "~/Views/_LayoutPage1.cshtml";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link href="~/Content/Styles/AdminStyle.css" rel="stylesheet" />
    <link href="~/Content/Styles/line-awesome.min.css" rel="stylesheet" />
    <link href="~/Content/Styles/line-awesome.css" rel="stylesheet" />
    <title>Dashboard</title>
</head>
<body>

    <div class="sidebar">

        <div class="sidebar-brand">
            <span>
                <h2> <span class="las la-accusoft">GestPharm</span></h2>
            </span>
        </div>
        <div class="sidebar-menu">
            <ul>
                <li>
                    <a href="" class="active">
                        <span class="las la-igloo"></span>
                        <span>Dashboard </span>
                    </a>
                </li>

                <li>
                    <a href="">
                        <span class="las la-clinic-medical"></span>
                        <span>Medicament </span>
                    </a>
                </li>

                <li>
                    <a href="">
                        <span class="las la-shopping-cart"></span>
                        <span>Comnande </span>
                    </a>
                </li>

                <li>
                    <a href="">
                        <span class="las la-file-medical"></span>
                        <span>Catégorie de médicament </span>
                    </a>
                </li>

                <li>
                    <a href="">
                        <span class="las la-receipt"></span>
                        <span>Inventaire </span>
                    </a>
                </li>
                <li>
                    <a href="">
                        <span class="las la-user"></span>
                        <span>Comptes </span>
                    </a>
                </li>
            </ul>
        </div>
        </div>

    <div class="main-content">
        <header>

            <h1>

                <span class="las la-bars">
                </span>

                Dashboard
            </h1>
            <label for="">
                <div class="">
                    <span class="search"></span>

                </div>

                <div class="user-blog">
                    <img src="~/Content/Images/Logopharm.jpg" width="40px" height="40px" />
                    <div>
                        <h4>Cindy </h4>
                        <small>Super Admin </small>
                    </div>

                </div>
            </label>

        </header>
    </div>
        <main>
            <div class="main">
                <div class="card-single">
                    <div>
                        <h1>
                            54
                        </h1>
                        <span>
                            Customers
                        </span>
                    </div>

                    <div>
                        <span class="la la-user"></span>
                    </div>

                </div>

                <div class="card-single">
                    <div>
                        <h1>
                            54
                        </h1>
                        <span>
                            Medicament
                        </span>
                    </div>

                    <div>
                        <span class="la la-clinic-medical"></span>
                    </div>

                </div>

                <div class="card-single">
                    <div>
                        <h1>
                            55
                        </h1>
                        <span>
                            Commande
                        </span>
                    </div>

                    <div>
                        <span class="la la-shopping-bag"></span>
                    </div>

                </div>

                <div class="card-single">
                    <div>
                        <h1>
                            54
                        </h1>
                        <span>
                           Inventaire
                        </span>
                    </div>

                    <div>
                        <span class="la la-receipt"></span>
                    </div>

                </div>

                <div class="card-single">
                    <div>
                        <h1>
                            54
                        </h1>
                        <span>
                          Categorie de médicaments
                        </span>
                    </div>

                    <div>
                        <span class="la la-file-medical"></span>
                    </div>

                </div>
            </div>

        </main>

   


</body>

</html>

